@import url("fonts.css");
@import url("normalize.css");
body,
html {
	font-family: "Lucida Sans Unicode";
	font-size: 22px;
	color: #ffffff;
	box-sizing: border-box;
}
.page__container {
	max-width: 1440px;
	padding: 129px 135px;
	background-color: #3399cc;
	border: 25px solid #2b81ac;
	margin: 0 auto;
}
.page__title {
	font-size: 21px;
	line-height: 1.19;
	vertical-align: middle;
	margin-bottom: 35px;
}
.page__title > img {
	width: 34px;
	height: 35px;
	vertical-align: middle;
	filter: brightness(0) invert(1);
}
.page__table {
	max-width: 1166px;
	border: 2px solid #ffffff;
	font-size: 0;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 37px;
}
.table-page__item {
	width: 100%;
	display: inline-block;
	border: 2px solid #ffffff;
	box-sizing: border-box;
	padding-top: 26px;
	padding-bottom: 27px;
	text-align: center;
}
.table-page__item:hover {
	opacity: 0.8;
	cursor: url("../assets/img/cursor.svg"), auto;
}
.table-page__block {
	display: inline-block;
}
.table-page__title {
	font-size: 22px;
	margin: 0;
	font-weight: 400;
	margin-bottom: 4px;
}
.table-page__item p {
	display: inline-block;
	font-size: 22px;
	vertical-align: middle;
	margin: 0 12px 0 0;
}
.table-page__item img {
	height: 48px;
	vertical-align: middle;
	filter: brightness(0) invert(1);
}
.table-page__item--half {
	width: 50%;
}
.table-page__item--quarter {
	width: 25%;
}
.table-page__item--lisbon {
	background-color: color-mix(in oklab, #71b8d8 80%, white);
}
.table-page__item--paris {
	background-color:color-mix(in oklab, #71dbdb 80%, white); 
}
.table-page__item--belgrad {
	background-color: color-mix(in oklab, #996699 80%, white);
}
.table-page__item--venice {
	background-color: color-mix(in oklab, #c24747 80%, white);
}
.table-page__item--tel-aviv {
	background-color: color-mix(in oklab, #e2674a 80%, white);
}
.table-page__item--cair {
	background-color: color-mix(in oklab, #ffcc66 80%, white);
}
.table-page__item--new-york {
	background-color: color-mix(in oklab, #99cc99 80%, white);
}
.table-page__item--new-delhi {
	background-color: color-mix(in oklab, #669999 80%, white);
}
.table-page__item--san-francisco {
	background-color:color-mix(in oklab, #cc6699 80%, white); 
}
.table-page__item--tokyo {
	background-color: color-mix(in oklab, #339966 80%, white); 
}
.table-page__item--sydney {
	background-color: color-mix(in oklab, #666699 80%, white);
}
.page__text {
	font-size: 16px;
	line-height: 1.18;
}
