@import url("fonts.css");
@import url("normalize.css");
body,
html {
	font-family: "Lucida Sans Unicode";
	font-size: 22px;
	color: #ffffff;
	box-sizing: border-box;
}
.page__container {
	max-width: 1440px;
	padding: 129px 135px;
	background-color: #3399cc;
	border: 25px solid #2b81ac;
	margin: 0 auto;
}
.page__title {
	font-size: 21px;
	line-height: 1.19;
	vertical-align: middle;
	margin-bottom: 35px;
}
.page__title > img {
	width: 34px;
	height: 35px;
	vertical-align: middle;
	filter: brightness(0) invert(1);
}
.page__table {
	max-width: 1166px;
	border: 2px solid #ffffff;
	font-size: 0;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 37px;
}
.table-page__item {
	width: 100%;
	display: inline-block;
	border: 2px solid #ffffff;
	box-sizing: border-box;
	padding-top: 26px;
	padding-bottom: 27px;
	text-align: center;
	opacity: 0.9;
}
.table-page__item:hover {
	opacity: 1;
	cursor: url("../assets/img/cursor.svg"), auto;
}
.table-page__block {
	display: inline-block;
}
.table-page__title {
	font-size: 22px;
	margin: 0;
	font-weight: 400;
	margin-bottom: 4px;
}
.table-page__item p {
	display: inline-block;
	font-size: 22px;
	vertical-align: middle;
	margin: 0 12px 0 0;
}
.table-page__item img {
	height: 48px;
	vertical-align: middle;
	filter: brightness(0) invert(1);
}
.table-page__item--half {
	width: 50%;
}
.table-page__item--quarter {
	width: 25%;
}
.table-page__item--lisbon {
	background-color: #71b8d8;
}
.table-page__item--paris {
	background-color: #71dbdb;
}
.table-page__item--belgrad {
	background-color: #996699;
}
.table-page__item--venice {
	background-color: #c24747;
}
.table-page__item--tel-aviv {
	background-color: #e2674a;
}
.table-page__item--cair {
	background-color: #ffcc66;
}
.table-page__item--new-york {
	background-color: #99cc99;
}
.table-page__item--new-delhi {
	background-color: #669999;
}
.table-page__item--san-francisco {
	background-color: #cc6699;
}
.table-page__item--tokyo {
	background-color: #339966;
}
.table-page__item--sydney {
	background-color: #666699;
}
.page__text {
	font-size: 16px;
	line-height: 1.18;
}
